<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Online-shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>

<body>

<!--====================  header area ====================-->
<div class="container">
    <div class="row py-4">
        <div class="col">
            <a href="/"><i class="material-icons">home</i></a>
        </div>
        <div class="col d-flex justify-content-end">
            <a href="/cart" class="header-cart">
                <i class="material-icons">shopping_basket</i>
            </a>
        </div>
    </div>
</div>
<!--====================  End of header area  ====================-->

<!--====================  breadcrumb area ====================-->
<div class="breadcrumb-area">
    <div class="container">
        <h2>Online-shop</h2>
    </div>
</div>
<!--====================  End of breadcrumb area  ====================-->

<!--====================  Products list area ====================-->
<div class="container" style="padding: 120px 12px">
    <a href="/brand-create" class="btn btn-success my-2">Добавить новый бренд</a>
    <a href="/item-create" class="btn btn-outline-primary my-2">Добавить новый товар</a>
    <div class="row">
        {% for item in items_list %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="single-product-item text-center">
                <div class="products-images">
                    <a href="#">
                        <img src="{{ item.logo_url }}" class="img-fluid" alt="product">
                    </a>
                    <div class="product-actions">
                        <a href="{{ item.get_absolute_url() }}">
                            <i class="material-icons">visibility</i>
                            <span class="tool-tip">Подробнее</span>
                        </a>
                    </div>
                </div>
                <div class="mt-4">
                    <h6><a href="{{ item.get_absolute_url() }}">{{ item.title }}</a></h6>
                    <p>{{ item.price|round(2) }} Р</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!--====================  End of Products list area  ====================-->

<!--====================  footer area ====================-->
<div class="container">
    <div class="row py-3">
        <div class="col">
            <a href="index.html">Online-shop.ru</a>
        </div>
        <div class="col d-md-flex justify-content-end">
            <div class="d-flex">
                <h6 class="me-4">Мы в соц.сетях</h6>
                <ul class="d-flex">
                    <li class="mx-2">
                        <a href="https://twitter.com" target="_blank" aria-label="Twitter">
                            <i class="material-icons">public</i>
                        </a>
                    </li>
                    <li class="mx-2">
                        <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                            <i class="material-icons">facebook</i>
                        </a>
                    </li>
                    <li class="mx-2">
                        <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                            <i class="material-icons">thumb_up_alt</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--====================  End of footer area  ====================-->
</body>

</html>